<div id="item" class="items items-sidebar w-1/2">
  <% if storefront.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(storefront.errors.count, "error") %> prohibited this storefront from being saved:</h2>
      <ul>
        <% storefront.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="return-reason-container">
      <%= render partial: "add_reason", locals:{form: form}%>
      <%= render partial: "items", locals:{form: form, storefront: storefront}%>
    </div>
  </div>
</div>
